/* Default CSS for johnchandlerburnham.com */

/* Solarized colorscheme

base03   #002b36 Dark Background
base02   #073642 Dark Background
base01   #586e75 Content
base00   #657b83 Content
base0    #839496 Content
base1    #93a1a1 Content
base2    #eee8d5 Light Background
base3    #fdf6e3 Light Background (Main background)
yellow   #b58900 Accent
orange   #cb4b16 Accent
red      #dc322f Accent
magenta  #d33682 Accent
violet   #6c71c4 Accent
blue     #268bd2 Accent (Links)
cyan     #2aa198 Accent
green    #859900 Accent

*/

:root {
  --base03:   #002b36;
  --base02:   #073642;
  --base01:   #586e75;
  --base00:   #657b83;
  --base0:    #839496;
  --base1:    #93a1a1;
  --base2:    #eee8d5;
  --base3:    #fdf6e3;
  --yellow:   #b58900;
  --orange:   #cb4b16;
  --red:      #dc322f;
  --magenta:  #d33682;
  --violet:   #6c71c4;
  --blue:     #268bd2;
  --cyan:     #2aa198;
  --green:    #859900;
}

html {
     /* to allow the #footer to be properly positioned
    at the bottom, even when #content is longer than
    the viewport high */
    min-height: 100%;
    position: relative;
}

body {
    color: var(--base00);
    background-color: var(--base3);
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    margin: 0px auto 0px auto;
}

::selection {
  background: var(--magenta);
  color: #fdf6e3;
  text-shadow: none;
}

::-moz-selection {
  background: var(--magenta);
  color: #fdf6e3;
  text-shadow: none;
}

div#header {
    margin-bottom: 0px;
    padding: 4px;
    background: var(--base03);
}

div#header #navigation a{
    text-align: left;
    font-size: 16px;
    color: var(--base0);
    font-family: 'Helvetica', sans-serif;
    margin-left: 22px;
    text-decoration: none;
}

span#post--date {
  font-size: 12px;
}


div#content {
  text-align:left;
  max-width: 800px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 5.5rem; /* foot/r-height + 1.5rem */
}

div#content h1{
  color: var(--orange);
  font-size: 24px;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
  text-align:left;
}

div#content h2{
  color: var(--orange);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
}

div#content h3{
  color: var(--base1);
  font-size: 20px;
  font-family: 'Helvetica', sans-serif;
}

div#content, /* this line for archives page */
div#content p{
    color:#657b83;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
}

div#content blockquote {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 4px solid #586e75;
}

.centered {
  text-align: center;
}

img {
  max-width : 600px;
}

div#content a{
  color: #268bd2;
  text-decoration: none;
}

div#footer {
    width: 100%;
    color: var(-base0);
    font-size: 12px;
    text-align: left;
    background-color: var(--base03);
    position: absolute;
    bottom: 0;
    font-family: 'Helvetica', sans-serif;
}

div#footer p {
    margin-left: 22px;
}

div#footer a {
  color: #93a1a1;
  font-weight: bold;
  text-decoration: none;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee8d5;
    margin: 1em 0;
    padding: 0;
}

/* Code blocks */

code {
    font-family: Inconsolata, monospace;
    color: var(--base00);
}

pre {
    background-color: var(--base2);
    color: #657b83;
    padding: 6px 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 14px;
    font-family: Inconsolata, monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: var(--base2);
}
td {
  padding: 0.25rem;
  text-align: left;
  color: var(--base00);
  border: 1px solid var(--base3);
}

th {
  background: var(--green);
  color: var(--base3);
  padding: 0.25rem;
  text-align: left;
  border: 1px solid var(--base3);
  }

td.sourceCode {
  max-width: 700px;
}

tr.sourceCode {
  max-width: 700px;
}

table.sourceCode {
  max-width: 700px;
  border-radius: 5px;
  padding: 6px 10px;
  overflow-x: auto;
}

/* Generated by pandoc. */
table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode,
table.sourceCode pre
   {
    border: none;
    background-color: #eee8d5;
    color: #839496;
    padding: 0px 3px;
    font-size: 14px;
    overflow-x: auto;
   }

td.lineNumbers {
    border-right: 1px solid #073642;
    text-align: right;
    padding-right: 3px;
    padding-left: 0px;
    background-color: #002b36;
    color: #839496;
    font-size: 14px;
}
td.sourceCode { font-family: Inconsolata, monospace;}

/* Keyword */
.sourceCode span.kw { color: #859900; font-weight: bold;   font-style: normal; }
/* DataType */
.sourceCode span.dt { color: #B58900; font-weight: normal; font-style: normal; }
/* DecVal */
.sourceCode span.dv { color: #2AA198; font-weight: normal; font-style: normal; }
/* BaseN */
.sourceCode span.bn { color: #2AA198; font-weight: normal; font-style: normal; }
/* Float */
.sourceCode span.fl { color: #2AA198; font-weight: normal; font-style: normal; }
/* Char */
.sourceCode span.ch { color: #d33682; font-weight: normal; font-style: normal; }
/* String */
.sourceCode span.st { color: #d33682; font-weight: normal; font-style: normal; }
/* Comment */
.sourceCode span.co { color: #93a1a1; font-weight: normal; font-style: italic; }
/* Other */
.sourceCode span.ot { font-weight: normal; font-style: normal; }
/* Alert */
.sourceCode span.al { color: #DC322F; font-weight: bold;   font-style: normal; }
/* Function */
.sourceCode span.fu { color: #268BD2; font-weight: normal; font-style: normal; }
/* Error */
.sourceCode span.er { color: #DC322F; font-weight: bold;   font-style: normal; }
/* Warning */
.sourceCode span.wa { color: #CB4B16; font-weight: bold;   font-style: italic; }
/* Constant */
.sourceCode span.cn { color: #2AA198; font-weight: normal; font-style: normal; }
/* SpecialChar */
.sourceCode span.sc { color: #DC322F; font-weight: normal; font-style: normal; }
/* VerbatimString */
.sourceCode span.vs { color: #d33682; font-weight: normal; font-style: normal; }
/* SpecialString */
.sourceCode span.ss { color: #d33682; font-weight: normal; font-style: normal; }
/* Import */
.sourceCode span.im { color: #657B83; font-weight: normal; font-style: normal; }
/* Variable */
.sourceCode span.va { color: #268BD2; font-weight: normal; font-style: normal; }
/* ControlFlow */
.sourceCode span.cf { color: #859900; font-weight: bold;   font-style: normal; }
/* Operator */
.sourceCode span.op { color: #859900; font-weight: bold;   font-style: normal; }
/* BuiltIn */
.sourceCode span.bu { color: #657B83; font-weight: normal; font-style: normal; }
/* Extension */
.sourceCode span.ex { color: #657B83; font-weight: normal; font-style: normal; }
/* Preprocessor */
.sourceCode span.pp { color: #CB4B16; font-weight: normal; font-style: normal; }
/* Attribute */
.sourceCode span.at { color: #657B83; font-weight: normal; font-style: normal; }
/* Documentation */
.sourceCode span.do { color: #586e75; font-weight: normal; font-style: italic; }
/* Annotation */
.sourceCode span.an { color: #586e75; font-weight: bold;   font-style: italic; }
/* CommentVar */
.sourceCode span.cv { color: #586e75; font-weight: bold;   font-style: italic; }
/* Information */
.sourceCode span.in { color: #586e75; font-weight: bold; font-style: italic; }
