@import url(//fonts.googleapis.com/css?family=Roboto);
/* @import "base.css"; */

/* fonts */

/* Solarized:

base03   #002b36 Dark Background 
base02   #073642 Dark Background 
base01   #586e75 Content 
base00   #657b83 Content 
base0    #839496 Content 
base1    #93a1a1 Content 
base2    #eee8d5 Light Background  
base3    #fdf6e3 Light Background 
yellow   #b58900 Accent 
orange   #cb4b16 Accent 
red      #dc322f Accent 
magenta  #d33682 Accent 
violet   #6c71c4 Accent 
blue     #268bd2 Accent 
cyan     #2aa198 Accent 
green    #859900 Accent
*/


html {
     /* to allow the #footer to be properly positioned 
    at the bottom, even when #content is longer than
    the viewport high */
    min-height: 100%;
    position: relative;
}

body {
    color:#657b83;
    background-color: #fdf6e3;
    font-size: 16px;
    margin: 0px auto 0px auto;
}


div#header {
    margin-bottom: 0px;
    padding: 25px;
    background: #002b36;
}

div#logo a {
    color: #93a1a1;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: #93a1a1!important;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
}

div#content {
  text-align:justify;
  max-width: 600px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 5.5rem; /* footer-height + 1.5rem */
}

div#content h1{
  color: #657b83;
         font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

div#content, /* this line for archives page */
div#content p{
    color:#657b83;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

div#content blockquote {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 4px solid #586e75;
}

div#content a{
  color: #268bd2;
  text-decoration: none;
}

div#footer {
    color: #93a1a1;
    font-size: 12px;
    text-align: center;
    height: 4.5em;
    background-color: #002b36;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 1em;
    font-family: 'Roboto', sans-serif;
}

div#footer a {
  color: #268bd2;
  font-weight: bold;
  text-decoration: none;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

